---
import { clsx } from "clsx";

type Variant = "outlined" | "filled" | "filled-danger";

interface Props {
  variant: Variant;
  dense?: boolean;
  href: string;
  external?: boolean;
  className?: string;
}

const { variant, dense, href, external, className } = Astro.props;

const variantClass: Record<Variant, string> = {
  outlined: "btn-outline btn-gray",
  filled: "btn-primary",
  "filled-danger": "btn-danger",
};
---

<a
  role="button"
  class={clsx("btn font-medium px-6 py-1.5 rounded-sm", dense ? "text-sm" : "text-md", variantClass[variant], className)}
  rel="noreferrer"
  target={external ? "_blank" : "_self"}
  href={href}
>
  <slot />
</a>
