---
import { clsx } from "clsx";

interface Props {
  variant: "outlined" | "filled";
  dense?: boolean;
  href: string;
  external?: boolean;
  className?: string;
}

const { variant, dense, href, external, className } = Astro.props;
---

<a
  role="button"
  class={clsx(
    "btn font-medium px-6 py-1.5 rounded-sm",
    dense ? "text-sm" : "text-md",
    variant === "outlined" ? "btn-outline btn-gray" : "btn-primary",
    className
  )}
  rel="noreferrer"
  target={external ? "_blank" : "_self"}
  href={href}
>
  <slot />
</a>
