---
import { clsx } from "clsx";

interface Props {
  variant: "outlined" | "filled";
  dense?: boolean;
  href: string;
  external?: boolean;
  className?: string;
}

const { variant, dense, href, external, className } = Astro.props;
---

<a
  role="button"
  class={clsx(
    "font-medium px-6 py-1.5 rounded-md hover:shadow-md transition",
    dense ? "text-sm" : "text-md",
    variant === "outlined"
      ? "border-1 border-gray-400 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-800"
      : "bg-blue-600 hover:bg-blue-500 text-white",
    className
  )}
  rel="noreferrer"
  target={external ? "_blank" : "_self"}
  href={href}
>
  <slot />
</a>
