---
import SoftwarePreview, { SoftwarePreviewType } from '@/components/data/SoftwarePreview.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Downloads"
  description="Find downloads for our software – including Paper, Velocity, and Waterfall."
  keywords={['papermc', 'minecraft', 'performance', 'paper', 'velocity', 'waterfall', 'downloads']}
  canonical="/downloads"
>
  <header class="mx-auto flex max-w-4xl flex-col items-center gap-2 px-4 pt-32 pb-16 lg:pt-28 lg:pb-12">
    <h1 class="text-4xl leading-normal font-medium lg:text-5xl lg:leading-normal">Downloads</h1>
    <p class="mb-6 text-center text-xl">
      {'Select the software you want to download.'}
    </p>
    <h2 class="mt-4 text-center text-2xl font-medium">Server Software</h2>
    <div class="grid gap-2 px-2 md:grid-cols-2 xl:gap-4">
      <SoftwarePreview
        id="paper"
        name="Paper"
        icon="brand/paper"
        description="Paper is a Minecraft game server, designed to greatly improve performance and offer more advanced features and API."
        type={SoftwarePreviewType.Download}
      />
      <SoftwarePreview
        id="folia"
        name="Folia"
        icon="brand/folia"
        description="Folia is a new fork of Paper that adds regionized multithreading to the server. Access to Folia builds isn't currently available."
        type={SoftwarePreviewType.Download}
      />
    </div>
    <h2 class="mt-4 text-center text-2xl font-medium">Proxy Software</h2>
    <div class="grid gap-2 px-2 md:grid-cols-2 xl:gap-4">
      <SoftwarePreview
        id="velocity"
        name="Velocity"
        icon="brand/velocity"
        description="Velocity is the modern, high-performance Minecraft server proxy."
        type={SoftwarePreviewType.Download}
      />
      <SoftwarePreview
        id="waterfall"
        name="Waterfall"
        icon="brand/waterfall"
        description="Waterfall is a legacy drop-in BungeeCord replacement with some additional improvements to performance and stability."
        type={SoftwarePreviewType.Download}
        eol
      />
    </div>
  </header>
</Layout>
