---
import Layout from "@/layouts/Layout.astro";
import SoftwareDownload from "../../components/SoftwareDownload.astro";
---

<Layout
  title="Paper"
  description="Download Paper, our Minecraft server software offering unrivaled performance and stability."
  keywords={["papermc", "minecraft", "performance", "paper", "downloads", "jar"]}
  canonical="/downloads/paper"
>
  <SoftwareDownload id="paper" icon="brand/paper">
    <span slot="description">Download Paper, our Minecraft server software offering unrivaled performance and stability.</span>
    <span slot="experimental-warning">
      Download experimental builds of Paper, our Minecraft server software offering unrivaled performance and stability. Proceed with caution!
    </span>
  </SoftwareDownload>
</Layout>
