---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDateLong } from "@/utils/time";

const posts = (await getCollection("posts")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="All Blog Posts" description="All posts" keywords={[]} canonical="/blog/all">
  <section class="mx-auto w-full max-w-7xl space-y-10 px-4 py-20 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-extrabold">All Posts</h1>
    <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
      {
        posts.map((entry) => (
          <li class="rounded-lg border border-gray-200/60 p-4 hover:bg-black/5 dark:border-white/10 dark:hover:bg-white/5">
            <a href={`/blog/${entry.id}`}>
              <div class="line-clamp-2 text-lg font-semibold">{entry.data.title}</div>
              <div class="mt-3 text-xs text-gray-600 dark:text-white/70">
                <time>{formatDateLong(entry.data.date)}</time>
                {" · "}
                {entry.data.author}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
