---
import { Image } from "astro:assets";

import Button from "@/components/Button.astro";
import Layout from "@/layouts/Layout.astro";

import ChattingIllustration from "@/assets/illustrations/undraw/chatting.svg";
import CodeReviewIllustration from "@/assets/illustrations/undraw/code-review.svg";
import KnowledgeIllustration from "@/assets/illustrations/undraw/knowledge.svg";
import SavingsIllustration from "@/assets/illustrations/undraw/savings.svg";
---

<Layout
  title="Contributing"
  description="Without contributors our projects wouldn't be possible. Find out how you can help."
  keywords={["papermc", "paper", "minecraft", "sponsor", "contributing"]}
  canonical="/contribute"
>
  <header class="max-w-7xl flex flex-row mx-auto px-4 pt-32 pb-16 lg:(pt-48 pb-32) gap-16">
    <div class="flex-1">
      <h1 class="font-medium leading-normal lg:(text-5xl leading-normal) text-4xl">You can contribute</h1>
      <p class="text-xl mt-4">
        {
          "Our projects are based on community contributions and wouldn't be possible without them. There are a lot of ways to contribute, even without programming knowledge."
        }
      </p>
      <div class="flex flex-row gap-4 mt-8"></div>
    </div>
    <div class="flex-1 lg:flex hidden justify-end"></div>
  </header>

  <section id="donate" class="px-4 py-4 max-w-7xl mx-auto flex flex-col-reverse items-center gap-8 lg:flex-row">
    <div class="flex-1">
      <h2 class="font-medium text-2xl md:text-4xl">...Financially</h2>
      <p class="md:(mt-6 text-lg) text-gray-900 dark:text-gray-100 mt-3">
        PaperMC uses Open Collective to manage various recurring expenses, mostly related to infrastructure. Open Collective allows us to be extremely
        transparent, so you can always see how your donations are used.
      </p>
      <div class="flex flex-row gap-4 mt-8">
        <Button variant="filled" href="/sponsors" dense> Learn More </Button>
      </div>
    </div>
    <div class="justify-start flex w-full lg:(flex-1 justify-end)">
      <Image src={SavingsIllustration} alt={"Savings Illustration"} class="max-h-32 lg:(max-w-72 max-h-none)" />
    </div>
  </section>
  <section id="code" class="px-4 py-4 max-w-7xl mx-auto flex flex-col-reverse items-center mt-12 gap-8 lg:flex-row">
    <div class="flex-1">
      <h2 class="font-medium text-2xl md:text-4xl">...Code</h2>
      <p class="md:(mt-6 text-lg) text-gray-900 dark:text-gray-100 mt-3">
        A big chunk of the code in our projects is written by community members, and we welcome your contributions!
      </p>
      <div class="flex flex-row gap-4 mt-8">
        <Button variant="filled" href="https://github.com/PaperMC/Paper/blob/master/CONTRIBUTING.md" external dense> Learn More </Button>
      </div>
    </div>
    <div class="justify-start flex w-full lg:(flex-1 justify-end)">
      <Image src={CodeReviewIllustration} alt={"Code Review Illustration"} class="max-h-32 lg:(max-w-72 max-h-none)" />
    </div>
  </section>
  <section id="support" class="px-4 py-4 max-w-7xl mx-auto flex flex-col-reverse items-center mt-12 gap-8 lg:flex-row">
    <div class="lg:flex-1">
      <h2 class="font-medium text-2xl md:text-4xl">...Support</h2>
      <p class="md:(mt-6 text-lg) text-gray-900 dark:text-gray-100 mt-3">
        A lot of users result in a lot of questions. Everyone is welcome to answer questions or provide support, whether on our Discord server or in our forums
      </p>
      <div class="flex flex-row gap-4 mt-8">
        <Button variant="filled" href="/community" dense> Our Community </Button>
      </div>
    </div>
    <div class="justify-start flex w-full lg:(flex-1 justify-end)">
      <Image src={ChattingIllustration} alt={"Chatting Illustration"} class="max-h-32 lg:(max-w-72 max-h-none)" />
    </div>
  </section>
  <section id="documentation" class="px-4 py-4 max-w-7xl mx-auto flex flex-col-reverse items-center mt-12 gap-8 lg:flex-row">
    <div class="flex-1">
      <h2 class="font-medium text-2xl md:text-4xl">...Documentation</h2>
      <p class="md:(mt-6 text-lg) text-gray-900 dark:text-gray-100 mt-3">
        Constantly evolving software needs constantly updated documentation. No matter if you want to report missing information or add guides yourself, we
        always appreciate help.
      </p>
      <div class="flex flex-row gap-4 mt-8">
        <Button variant="filled" href="https://github.com/PaperMC/docs" external dense> Docs Repository </Button>
      </div>
    </div>
    <div class="justify-start flex w-full lg:(flex-1 justify-end)">
      <Image src={KnowledgeIllustration} alt={"Knowledge Illustration"} class="max-h-32 lg:(max-w-72 max-h-none)" />
    </div>
  </section>
</Layout>
