---
import { Image } from 'astro:assets';

import Button from '@/components/input/Button.astro';
import Layout from '@/layouts/Layout.astro';

import ChattingIllustration from '@/assets/illustrations/undraw/chatting.svg';
import CodeReviewIllustration from '@/assets/illustrations/undraw/code-review.svg';
import KnowledgeIllustration from '@/assets/illustrations/undraw/knowledge.svg';
import SavingsIllustration from '@/assets/illustrations/undraw/savings.svg';
---

<Layout
  title="Contributing"
  description="Without contributors our projects wouldn't be possible. Find out how you can help."
  keywords={['papermc', 'paper', 'minecraft', 'sponsor', 'contributing']}
  canonical="/contribute"
>
  <header class="mx-auto flex max-w-7xl flex-row gap-16 px-4 pt-32 pb-16 lg:pt-28 lg:pb-16">
    <div class="flex-1">
      <h1 class="text-4xl leading-normal font-medium lg:text-5xl lg:leading-normal">You can contribute</h1>
      <p class="mt-4 text-xl">
        Our projects are based on community contributions and wouldn&apos;t be possible without them. There are a lot of ways to contribute,
        even without programming knowledge.
      </p>
      <div class="mt-8 flex flex-row gap-4"></div>
    </div>
    <div class="hidden flex-1 justify-end lg:flex"></div>
  </header>

  <section id="donate" class="mx-auto flex max-w-7xl flex-col-reverse items-center gap-8 px-4 py-4 lg:flex-row">
    <div class="flex-1">
      <h2 class="text-2xl font-medium md:text-4xl">...Financially</h2>
      <p class="mt-3 text-gray-900 md:mt-6 md:text-lg dark:text-gray-100">
        PaperMC uses Open Collective to manage various recurring expenses, mostly related to infrastructure. Open Collective allows us to be
        extremely transparent, so you can always see how your donations are used.
      </p>
      <div class="mt-8 flex flex-row gap-4">
        <Button variant="filled" href="/sponsors" dense> Learn More </Button>
      </div>
    </div>
    <div class="flex w-full justify-start lg:flex-1 lg:justify-end">
      <Image src={SavingsIllustration} alt={'Savings Illustration'} class="max-h-32 lg:max-h-none lg:max-w-[18rem]" />
    </div>
  </section>
  <section id="code" class="mx-auto mt-12 flex max-w-7xl flex-col-reverse items-center gap-8 px-4 py-4 lg:flex-row">
    <div class="flex-1">
      <h2 class="text-2xl font-medium md:text-4xl">...Code</h2>
      <p class="mt-3 text-gray-900 md:mt-6 md:text-lg dark:text-gray-100">
        A big chunk of the code in our projects is written by community members, and we welcome your contributions!
      </p>
      <div class="mt-8 flex flex-row gap-4">
        <Button variant="filled" href="https://github.com/PaperMC/Paper/blob/master/CONTRIBUTING.md" external dense> Learn More </Button>
      </div>
    </div>
    <div class="flex w-full justify-start lg:flex-1 lg:justify-end">
      <Image src={CodeReviewIllustration} alt={'Code Review Illustration'} class="max-h-32 lg:max-h-none lg:max-w-[18rem]" />
    </div>
  </section>
  <section id="support" class="mx-auto mt-12 flex max-w-7xl flex-col-reverse items-center gap-8 px-4 py-4 lg:flex-row">
    <div class="lg:flex-1">
      <h2 class="text-2xl font-medium md:text-4xl">...Support</h2>
      <p class="mt-3 text-gray-900 md:mt-6 md:text-lg dark:text-gray-100">
        A lot of users result in a lot of questions. Everyone is welcome to answer questions or provide support, whether on our Discord
        server or in our forums
      </p>
      <div class="mt-8 flex flex-row gap-4">
        <Button variant="filled" href="/community" dense> Our Community </Button>
      </div>
    </div>
    <div class="flex w-full justify-start lg:flex-1 lg:justify-end">
      <Image src={ChattingIllustration} alt={'Chatting Illustration'} class="max-h-32 lg:max-h-none lg:max-w-[18rem]" />
    </div>
  </section>
  <section id="documentation" class="mx-auto mt-12 flex max-w-7xl flex-col-reverse items-center gap-8 px-4 py-4 lg:flex-row">
    <div class="flex-1">
      <h2 class="text-2xl font-medium md:text-4xl">...Documentation</h2>
      <p class="mt-3 text-gray-900 md:mt-6 md:text-lg dark:text-gray-100">
        Constantly evolving software needs constantly updated documentation. No matter if you want to report missing information or add
        guides yourself, we always appreciate help.
      </p>
      <div class="mt-8 flex flex-row gap-4">
        <Button variant="filled" href="https://github.com/PaperMC/docs" external dense> Docs Repository </Button>
      </div>
    </div>
    <div class="flex w-full justify-start lg:flex-1 lg:justify-end">
      <Image src={KnowledgeIllustration} alt={'Knowledge Illustration'} class="max-h-32 lg:max-h-none lg:max-w-[18rem]" />
    </div>
  </section>
</Layout>
