---
import Layout from '@/layouts/Layout.astro';
import SoftwarePreview, { SoftwarePreviewType } from '@/components/data/SoftwarePreview.astro';
---

<Layout
  title="Javadocs"
  description="Find javadocs for our software – including Paper, Folia, Velocity, and Waterfall."
  keywords={['papermc', 'paper', 'folia', 'javadocs', 'velocity', 'waterfall']}
  canonical="/javadocs"
>
  <header class="mx-auto flex max-w-7xl flex-col items-center gap-2 px-4 pt-32 pb-16 lg:pt-48 lg:pb-26">
    <h1 class="text-4xl leading-normal font-medium lg:text-5xl lg:leading-normal">Javadocs</h1>
    <p class="mb-6 text-center text-xl">
      {'You can find the javadocs for our software below:'}
    </p>
    <div class="grid gap-2 px-2 md:grid-cols-4 lg:mt-6 xl:gap-4">
      <SoftwarePreview id="paper" name="Paper" icon="brand/paper" type={SoftwarePreviewType.Javadocs} />
      <SoftwarePreview id="folia" name="Folia" icon="brand/folia" type={SoftwarePreviewType.Javadocs} />
      <SoftwarePreview id="velocity" name="Velocity" icon="brand/velocity" type={SoftwarePreviewType.Javadocs} />
      <SoftwarePreview id="waterfall" name="Waterfall" icon="brand/waterfall" type={SoftwarePreviewType.Javadocs} />
    </div>
  </header>
</Layout>
