---
import Layout from "@/layouts/Layout.astro";
import SoftwareHeader from "@/components/SoftwareHeader.astro";
import Button from "@/components/Button.astro";

import VelocityImage from "@/assets/images/velocity.png";
import CommunityImage from "@/assets/images/community.png";

import { Image } from "astro:assets";
import { fetchProject } from "@/utils/api";

const { version_groups } = await fetchProject("waterfall");
---

<Layout
  title="Waterfall"
  description="Waterfall is an upgraded BungeeCord, offering full compatibility with improvements to performance and stability."
  keywords={["waterfall", "proxy", "minecraft", "performance", "bungeecord", "fork"]}
  canonical="/software/waterfall"
>
  <SoftwareHeader id="waterfall" name="Waterfall" versionGroup={version_groups[version_groups.length - 1]} icon="brand/waterfall" description="TODO" eol>
    Waterfall has reached end of life
  </SoftwareHeader>
  <section id="facts" class="flex flex-col max-w-7xl mx-auto px-4 py-8 gap-8 md:(gap-12 py-16)">
    <div class="flex flex-col gap-6 md:(flex-row gap-8) xl:gap-24 items-center">
      <div class="w-full flex-1 rounded-xl bg-gray-900 aspect-video relative overflow-clip">
        <Image
          alt="Velocity"
          src={VelocityImage}
          sizes="(min-width: 80rem) 40rem, (min-width: 768px) 40vw, 100vw"
          widths={[400, 800, 1200, 1600]}
          class="w-full h-full object-cover"
        />
      </div>
      <div class="flex-1">
        <h2 class="font-semibold text-2xl md:text-4xl">Need an updated proxy? Use Velocity!</h2>
        <p class="md:(mt-6 text-xl) text-gray-900 dark:text-gray-100 mt-3">
          All the experience the PaperMC team has gained from working on Waterfall has applied to Velocity. Designed with performance and scalability in mind,
          Velocity is the best proxy software available.
        </p>
        <div class="flex flex-row gap-4 mt-8">
          <Button variant="filled" href="/software/velocity" dense> Learn more </Button>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-6 md:(flex-row-reverse gap-8) xl:gap-24 items-center">
      <div class="flex-1">
        <h2 class="font-semibold text-2xl md:text-4xl">Together with a community of server owners</h2>
        <p class="md:(mt-6 text-xl) text-gray-900 dark:text-gray-100 mt-3">
          Whether you need help with your proxy settings, server lag, or need a guide for formatting your chat, our knowledgeable staff and friendly community
          are always around to lend a hand.
        </p>
        <div class="flex flex-row gap-4 mt-8">
          <Button variant="filled" href="https://discord.gg/papermc" external dense> Join our Discord </Button>
        </div>
      </div>
      <div class="w-full flex-1 rounded-xl aspect-video relative overflow-clip">
        <Image
          alt="Community"
          src={CommunityImage}
          sizes="(min-width: 80rem) 40rem, (min-width: 768px) 40vw, 100vw"
          widths={[400, 800, 1200, 1600]}
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </section>
</Layout>
