.header th {
  @apply text-left px-6 py-4 border-b dark:border-gray-600;
}

.body tr {
  @apply border-b hover:bg-blue-100 dark:(border-gray-600 hover:bg-gray-900);
}

.body td {
  @apply px-6 py-2;
}
